<strong>Olá, {{ organizer }}</strong>
<p>Novo inscrito em seu meetup, confira os detalhes abaixo:</p>
<p>
  <strong>Meetup: </strong> {{ meetup }} <br><br>
  <strong>Nome: </strong> {{ name }} <br>
  <strong>Email: </strong> {{ email }} <br>
</p>
